:root {
  --bg-color: hsl(0, 0%, 8%);
  --bg-second-color-card: rgba(33, 33, 33, 0.55);
  --bg-second-color: rgb(33, 33, 33);
  --border: 1px solid rgba(74, 74, 74, 0.12);
  --box-shadow-color: #444444;
  --fw-bold: 600;
  --fw-medium: 400;

  --font-color: hsl(0, 0%, 95%);
}
