.nav {
  display: flex;
  justify-content: center;
  position: relative;
  --nav-border-radius: 20px;
  --result-height: 96px;

  & &__form {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 80%;
    min-width: 260px;
    max-width: 600px;
    z-index: 2;
  }

  & &__label {
    position: absolute;
    left: -9999px;
  }

  & &__search-input {
    background: var(--bg-second-color);
    border: var(--border);
    border: none;
    outline: none;
    border-radius: var(--nav-border-radius);
    box-shadow: 0px 0px 16px 2px var(--bg-color);
    padding: 0.75rem;
    width: 100%;
    color: var(--color-font);
  }

  & &__results {
    --padding-top: 32px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    width: 80%;
    min-width: 260px;
    max-width: 600px;
    padding-top: var(--padding-top);
    padding-left: 5px;
    z-index: 1;
    background-color: var(--bg-second-color);
    border-bottom-right-radius: var(--nav-border-radius);
    border-bottom-left-radius: var(--nav-border-radius);
    max-height: calc(((var(--result-height) + 4px) * 5) + var(--padding-top));
    overflow-y: scroll;
  }

  & &__results::-webkit-scrollbar-track {
    margin-top: 2rem;
  }

  & &__no-results {
    width: 100%;
    font-weight: var(--fw-bold);
    padding: 1rem;
  }

  @media (max-width: 580px) {
    --result-height: 76px;
  }

  @media (max-width: 450px) {
    --result-height: 62px;
  }
}
